body{
    background-color: cadetblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.resource-card{
    border: 5;
    border-radius: 60%;
    border-color: black;
    border-style: dashed;
}
img{
    width: 200px;
}

.project{
    border: 2;
    border-radius: 60%;
    border-color: red;
    border-style: solid;
    background-color:rgb(254, 242, 72);
    
}
iframe {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #ccc;
}
