body{
    background-color: cadetblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.resource-card{
    border: 5;
    border-radius: 80%;
    border-color: black;
    border-style: dashed;
}
img{
    width: 200px;
}

.project{
    border: 2;
    border-radius: 60%;
    border-color: red;
    border-style: solid;
    background-color:pink;
}


